@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
	margin: 0;
	padding: 0;
	background: #DDD;
	font-size: 16px;
	color: #222;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h1 {
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 28px;
}

#header {
	float: left;
	width: 100%;
	height: 10%;
}

#navBar {
	float: left;
	width: 80%;
	height: 100%;
}

#navList {
	width: 100%;
	height: 100%;
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: none;
}

#navList li {
  	float: left;
  	background-color: #333;
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

#navList li a {
	color: white;
	text-decoration: none;
}

#navList li a:hover {
  	background-color: #111;
}

#dateInfo {
	position: relative;
	float: left;
	width: 20%;
	height: 100%;
}

#dateText {
	position: absolute;
	top: 5px;
	right: 5px;
}

#main {
	float: left;
	box-sizing: border-box;
	padding: 10px 30px 10px 30px;
	width: 100%;
	height: 80%;
}

#main input[type="text"],
#main input[type="password"],
#main input[type="number"] {
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	border-bottom: 1px solid #AAA;
	color: #777;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
}

#main input[type="color"] {
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 80px;
	height: 32px;
	border: none;
	border-bottom: 1px solid #AAA;
	color: #777;
	transition: 0.2s ease;
}

#main input[type="text"]:focus,
#main input[type="password"]:focus {
	border-bottom: 2px solid #16a085;
	color: #000;
	transition: 0.2s ease;
}

#main button[type="submit"] {
	margin-top: 28px;
	width: 120px;
	height: 32px;
	background: #16a085;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.1s ease;
	cursor: pointer;
}

#main button[type="submit"]:hover,
#main button[type="submit"]:focus {
	opacity: 0.8;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	transition: 0.1s ease;
}

#main button[type="submit"]:active {
	opacity: 1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	transition: 0.1s ease;
}

#footer {
	float: left;
	width: 100%;
	height: 10%;
}

#updateInfo {
	position: relative;
	float: left;
	width: 70%;
	height: 100%;
}

#updateText {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

#loginInfo {
	position: relative;
	float: left;
	width: 30%;
	height: 100%;
}

#loginText {
	position: absolute;
	bottom: 5px;
	right: 5px;
}